{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}
<div class="card border-danger mb-3">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Danger card title</h4>
    <p class="card-text">lorem500</p>
  </div>

{% endblock %}
