
<header>
	<div class="text-center header my-5">
		<div class="mb-5" id="festTitle">Festival Technonite</div>
		<div class="lead mb-5" id="festSent">Du 20 au 22 août</div>
		<div class="lead" id="festSent">les plaques vont bouger et la terre va trembler !</div>
	</div>
	
</header>
